*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
header{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.navbar{
    height: 80px;
    background:transparent
}
.logo{
    margin-left: 30px;
    width: 80px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center ;
    list-style: none;
    margin-right: 30px;
    height: 100%;
    width: 50%;
}
ul li{
    margin: 20px;
    margin-left: 10px;
    color: black;
    font-size: 17px;
}
ul li a{
    text-decoration: none;
}
.boitnav{
    width: 70%;
}
#carouselExampleSlidesOnly{
    height: calc(100vh - 80px);
    width: 100%;
    z-index: -1;
    background-color: red;
}
#service{
    height: 100vh;
    background-color: white;
}
.font{
    height: calc(100vh - 80px - 100px);
    width: 100%;
/*     position:fixed; */
    z-index: -10;
}
.finpieds{
    height: 100px;
}
.finpiedss{
    height: 150px;
    width: 50%;
    bottom:30px;
    left: 25%;
    background-color: white;
    border: 3px solid black;
    position: absolute;
}